.main-size {
	height: 100vh;
	width: 100%;
}

.margin-padding-0 {
	margin: 0;
	padding: 0;
}

.main-color {
	color: white;
	background-color: purple;
}

.green-color {
	color: white;
	background-color: green;
}

.yellow-color {
	color: white;
	background-color: yellow;
}

.gray-color {
	color: white;
	background-color: gray;
}

.brown-color {
	color: white;
	background-color: brown;
}

.bg-color-shadow {
	background-color: #200d2942;
}

.height-100 {
	height: 100%;
}

.my-height-50 {
	height: 50vh;
}

.my-height-60 {
	height: 60vh;
}

.my-height-70 {
	height: 70vh;
}

.my-height-80 {
	height: 80vh;
}

.my-height-90 {
	height: 90vh;
}

.my-height-50p {
	height: 50%;
}

.my-height-60p {
	height: 60%;
}

.my-height-70p {
	height: 70%;
}

.my-height-80p {
	height: 80vh;
}

.my-height-90 {
	height: 90%;
}

.grid-cl-12 {
	display: grid;
	grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}
.grid-rw-12 {
	display: grid;
	 grid-template-rows: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}

.grid-cl-3 {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 100%;
}

.column-1-2 {
	grid-column: 1 / 2;
}

.column-2-4 {
	grid-column: 2 / 4;
}

.grid-cl-40-60 {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 100%;
}

.padding-3 {
	padding: 2% 10%;	
	width: 80%;
}

div.bg-img {
	background-image: url('/images/action-america-architecture-avenue-378570.jpg');
	color: white;
	background-size: cover;
}

.font-arial {
	font-family: Arial; 
	font-size: 20px;	
}

.child-position {
	padding-top: 20%;
	padding-left: 30%;
}
.font-2em {
	font-size: 2em;
}

.font-3em {
	font-size: 3em;	
}

.font-4em {
	font-size: 4em;	
}

.font-5em {
	font-size: 5em;	
}

.main-buttom-style {
	position: absolute;
	height: 70px;
	width: 200px;
	border-color: transparent;
	margin: 25px 0;
}

.main-buttom-style:hover {
	background-color: purple;
	color: yellow;
	cursor: pointer;
}
.header {
	position: absolute;
    left: 157px;
    top: 61px;
    width: calc(100% - 314px);
    height: 96px;
    background: #190a49;
    z-index: 100;
    border-bottom: solid 2px #ff0e3b;
}

.logo {
    position: absolute;
    top: 15px;
    left: 30px;
    padding: 10px;
    color: white;
    background-color: purple;
    border-radius: 30px;
}

.my-a * {
	text-decoration: none;
	color: white;
}

.my-nav {

}

.my-flex-container	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.my-flex-container > .my-flex-block {

}

.my-flex-block	{

}